* {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

.badexamplesize {
    font-size: 12px;
}

.sections {
    border: 2px solid lightgray;
    padding: 15px;
    margin: 25px;
    border-radius: 5px;
    max-width: 650px;    /* optional limit so long text wraps nicely */
}

.firstsec {
    border: 2px solid lightgray;
    padding: 15px;
    margin: 25px;
    margin-top: 40px;
    border-radius: 5px;
    max-width: 650px;    /* optional limit so long text wraps nicely */
}

.top {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    /* keeps it centered horizontally */
    gap: 2px;
}

.left {
    position: relative;
    margin-left: 400px;
    font-weight: bold;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
}

.right {
    position: relative;
    margin-right: 400px;
    font-weight: bold;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.directory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 22px;
}

.directory a {
    text-decoration: none;
    color: black;
}